body{
	font-family: arial;
	background-color: #f2f2f2
}
.a{
	width: 60%;
	height: 200px;
	margin: auto;
	background-image: url(bilder/la_morra.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.meny {
	overflow: hidden;
  	background-color: #006600;
  	width: 60%;
  	margin: auto;
}
.meny a {
  	float: left;
  	color: #fff;
  	text-align: center;
  	padding: 10px 15px;
  	text-decoration: none;
  	font-size: 18px;
}
.meny a:hover{
	background-color: #b3b3b3;
	color: #000;
}
.b{
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	margin-right: 520px;
	margin-left: 520px;
	padding: 15px;
}
.b h1{
	text-align: center;
	margin: 50px;
}
.c{
	text-align: left;
	margin: 25px;
}
.flex{
	display: flex;
	margin: 10px;
}
.flex div{
	margin: 15px;
	text-align: left;
}
.b h2{
	text-align: left;
	margin: 25px;
}
.flex2{
	display: flex;
	margin: 10px;
}
.flex2 div{
	margin: 15px;
	width: 100%;
}
.boks{
 	background-color: #aaa;
 	padding: 10px;
 	text-align: left;
 	flex-basis: 30%;
}
.d{
	text-align: left;
	margin: 25px;
	flex-basis: 70%;
}
.bunn{
	background-color: #006600;
	width: 60%;
	margin: auto;
}
.bunn p{
	text-align: center;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
	color: #fff
}
